<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-sm">
            <div class="jumbotron jumbotron-fluid">
                <p class="text-center text-uppercase font-weight-bold">{{onViewMonthName}}</p>
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div class="text-center">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button [disabled]="prevDis" type="button" (click)="prevMonth()" mdbBtn color="primary" mdbWavesEffect style="margin-right: 5px"><</button>
                                    <button mdbBtn type="button" size="sm" color="primary"
                                            data-toggle="modal" data-target="#basicExample"
                                            (click)="frame.show()">Add New Transaction</button>
                                    <button [disabled]="nextDis" type="button" (click)="nextMonth()" mdbBtn color="primary" mdbWavesEffect style="margin-left: 5px">></button>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <app-mini-transactions [data]="onViewMonth"></app-mini-transactions>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add New Transaction</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <input mdbInput [(ngModel)]="amount" type="number" id="amount" class="form-control" >
                    <label for="amount">Amount</label>
                </div>
                <div class="md-form mb-5">
                    <label for="category-type">Category Type</label>
                    <br><br>
                    <select [(ngModel)]="category" class="browser-default custom-select" id="category-type">
                        <option selected>Choose option</option>
                        <option *ngFor="let category of categories" [value]="category.categoryId" class="text-capitalize">{{category.categoryName}}</option>
                    </select>
                </div>
                <div class="md-form mb-5">
                    <input mdbInput [(ngModel)]="note" type="text" id="note" class="form-control" >
                    <label for="note">Note</label>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn (click)="addTransaction()" color="primary" class="waves-light" mdbWavesEffect>Add</button>
            </div>
        </div>
    </div>
</div>
