<div *ngIf="!(income || expense || balance)" class="">
    <p class="text-center font-weight-bold">No summary available for this month</p>
</div>
<ul class="list-group" *ngIf="income || expense || balance">
    <li class="list-group-item d-flex justify-content-between align-items-center text-success">
        Income
        <span class="pull-right">{{income | currency: 'Rs'}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center text-danger">
        Expense
        <span class="pull-right">{{expense | currency: 'Rs'}}</span>
    </li>
</ul>
<br>
<ul class="list-group" *ngIf="income || expense || balance">
    <li class="list-group-item d-flex justify-content-between align-items-center text-primary">
        Balance
        <span class="pull-right">{{balance | currency: 'Rs'}}</span>
    </li>
</ul>
