<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Expense Tracker</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/" class="nav-link waves-light" mdbWavesEffect>Summary</a>
            </li>
            <li class="nav-item">
                <a routerLink="/transactions" class="nav-link waves-light" mdbWavesEffect>Transactions</a>
            </li>
            <li class="nav-item">
                <a routerLink="/categories" class="nav-link waves-light" mdbWavesEffect>Categories</a>
            </li>
            <li class="nav-item">
                <a routerLink="/budget" class="nav-link waves-light" mdbWavesEffect>Budget</a>
            </li>
        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<br><br>
