<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="container">
            <div class="row">
                <span class="text-capitalize font-weight-bolder">Travel</span>
            </div>
            <div class="row">
                <div class="col-10">
                    <span class="font-weight-lighter">Wednesday, 13 Nov 2019</span>
                </div>
                <div class="col">
                    <span class="font-weight-normal text-danger">320.00</span>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="container">
            <div class="row ">
                <span class="text-capitalize font-weight-bolder">Salary</span>
            </div>
            <div class="row">
                <div class="col-10">
                    <span class="font-weight-lighter">Monday, 1 Nov 2019</span>
                </div>
                <div class="col">
                    <span class="font-weight-normal text-success">3500.00</span>
                </div>
            </div>
        </div>
    </li>
</ul>
