<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-sm">
            <div class="jumbotron jumbotron-fluid">
                <p class="text-center text-uppercase font-weight-bold">{{onViewMonthName}}</p>
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div class="text-center">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button [disabled]="prevDis" type="button" (click)="prevMonth()" mdbBtn color="primary" mdbWavesEffect style="margin-right: 5px"><</button>

                                    <button [disabled]="nextDis" type="button" (click)="nextMonth()" mdbBtn color="primary" mdbWavesEffect style="margin-left: 5px">></button>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <app-mini-summary [data]="onViewMonth" [variable]="onVariable"></app-mini-summary>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>


